// Variables

// BS Custom Colors
$primary    : #B46A48;
$primary-2  : #E7A37B;
$secondary  : #DDB796;
$secondary-2: #FBF6F2;

// BS Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: underline;

// BS Typography
$font-family-base: 'Poppins', sans-serif;
$font-family-alt: 'Kaushan Script', cursive;

$h7-font-size: 0.9375rem;
$h8-font-size: 0.875rem;
$h9-font-size: 0.8125rem;
$h10-font-size: 0.75rem;

// Letter spacing
$letter-spacers: (
    1: 1px,
    2: 2px,
    3: 3px
);

// Navbar
$navbar-height: 100px;