// Carousel

.carousel-indicators{
    height: 74px;
    width: 160px;

    [data-bs-target] {
        border-radius: 50%;
        height: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: 10px;
        z-index: 1;
    }
}

@include media-breakpoint-down(xl) {
    .carousel-item {
        .lead {
            font-size: $h6-font-size;
        }
    }
}