.single-quote {
    background: #f8c7ad none repeat scroll 0 0;
}
.single-quote h2 {
    border-bottom: 2px solid #af6e4b;
}
.single-quote span {
    color: #af6e4b;
}
.menu li a span {
    color: #d78f69;
}
nav.sticky .menu-bg {
  box-shadow: 0 2px 5px #f8c7ad;
}
.section-title {
    color: #d78f69;
}
.left-arrow, .right-arrow {
    border: 1px solid #f8c7ad;
}
.right-arrow:hover,
.left-arrow:hover {
    background: #f8c7ad;
}
.dress-title h3 {
    color: #d78f69;
}
.dress-content > ul li span {
    color: #d78f69;
}
.slick-dots li button {
    border: 1px solid #e7a989;
}
.slick-dots li.slick-active button {
    background: #e7a989;
}
.single-gallery .gallhover {
    background: rgba(248, 199, 173, .8);
}
.perfect-dress-content {
    border: 2px solid #f8c7ad;
}
.perfect-dress-content h4 {
    background: #f8c7ad none repeat scroll 0 0;
    color: #af6e4b;
}
.perfect-dress-content h4 a {
    color: #af6e4b;
}
.perfect-love span {
    color: #f8c7ad;
}
.contact-section {
    background: #f8c7ad none repeat scroll 0 0;
}
.section-title.contact-title h2 {
    color: #af6e4b;
}
.single-input.submitbutton button {
    color: #f8c7ad;
}
.icon i {
    color: #f8c7ad;
}
.footer-content p span {
    color: #f8c7ad;
}
.footer-content a.fa {
    border: 1px solid #f8c7ad;
}
.footer-content a.fa:hover {
    color: #f8c7ad;
}